p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color:blue;
    }
.p{
font-family: 'Courier New', Courier, monospace;
font-size: 25px;
color: aqua;
.img-p{
    border-radius: 50%;
}
}